In [3]:
import matplotlib.pyplot as plt
import requests
import json
import os
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [36]:

import requests
import json
url = 'https://ies-midterm.soulution.rocks/saveme'


x=requests.post('https://ies-midterm.soulution.rocks/saveme', json={'cuni':'60026825'})

print(x.text)

{"data": {}, "message": "DO NOT SHARE THE DATASET WITH ANYONE! Download manually the following file which contains the data: https://ies-python-midterm.s3.eu-central-1.amazonaws.com/sos.zip"}

In [40]:
data1 = pd.read_csv("EVR[1].csv")
data2 = pd.read_csv("FLTR[1].csv")

           Date       Open       High    Low      Close  Adj Close  Volume
0    2019-01-02  24.680000  24.750000  24.68  24.709999  23.635632   89800
1    2019-01-03  24.690001  24.740000  24.68  24.680000  23.606937  175700
2    2019-01-04  24.650000  24.709999  24.65  24.709999  23.635632  473800
3    2019-01-07  24.670000  24.709999  24.67  24.709999  23.635632   85800
4    2019-01-08  24.670000  24.719999  24.67  24.709999  23.635632  114500
..          ...        ...        ...    ...        ...        ...     ...
473  2020-11-16  25.240000  25.250000  25.23  25.240000  25.240000  206700
474  2020-11-17  25.230000  25.270000  25.23  25.270000  25.270000  434900
475  2020-11-18  25.250000  25.270000  25.24  25.270000  25.270000  473100
476  2020-11-19  25.270000  25.290001  25.24  25.280001  25.280001  567600
477  2020-11-20  25.290001  25.290001  25.24  25.250000  25.250000  305600

[478 rows x 7 columns]

What day was the highest number of shares traded?

In [44]:
first=data1.loc[data1['Volume'].idxmax()]
second=data2.loc[data1['Volume'].idxmax()]
second

Date         2019-01-30
Open               25.0
High          25.030001
Low               24.99
Close             25.02
Adj Close     23.932154
Volume           264000
Name: 19, dtype: object

The date is 2019-01-30

The time series should be from 2019-01-02 to 2020-11-20. Is it the case in your sample?
Which dates are missing

In [53]:
pd.date_range(start = '2019-01-02', end = '2020-11-20' ).difference(data1.index)

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-05',
               '2019-01-06', '2019-01-07', '2019-01-08', '2019-01-09',
               '2019-01-10', '2019-01-11',
               ...
               '2020-11-11', '2020-11-12', '2020-11-13', '2020-11-14',
               '2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18',
               '2020-11-19', '2020-11-20'],
              dtype='datetime64[ns]', length=689, freq='D')

What is the highest and lowest Adj Close price the company recorded

In [54]:
first=data1.loc[data1['Adj Close'].idxmax()]
first

Date         2019-04-29
Open          97.330002
High          98.900002
Low           96.800003
Close         98.019997
Adj Close     93.306076
Volume           344400
Name: 80, dtype: object

In [59]:
first=data1.loc[data1['Adj Close'].idxmin()]
first

Date         2020-03-20
Open          39.779999
High          41.009998
Low           35.450001
Close             35.75
Adj Close     35.080837
Volume           954500
Name: 306, dtype: object

What is the average volume in a week? We can get approximation by:

In [64]:
max=data1.loc[data1['Volume'].idxmax()]
min=data1.loc[data1['Volume'].idxmin()]
min
max
(2047600+83000)/2

1065300.0